@model IEnumerable<OrderModel>
@{
    ViewData["title"] = "Order Detail";
}
<h3 style="margin:15px">Order Detail</h3>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Order Code</th>
            <th scope="col">UserName</th>

            <th scope="col">Order Date</th>
            <th scope="col">Order Status</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <input type="hidden" asp-for="@item.OrderCode" class="getId" />
                <th>@item.Id</th>
                <th scope="row">@item.OrderCode</th>
                <td>@item.UserName</td>
                <td>@item.CreatedDate</td>
                <td>
                    <select class="form-control select-update-order">
                        <option value="1">Đơn hàng mới</option>
                        <option value="0">Đã xử lý</option>
                        <option value="2">Đang vận chuyển</option>
                        <option value="3">Đã giao</option>
                        <option value="4">Đã huỷ</option>
                    </select>
                </td>
                
            </tr>
        }
    </tbody>
</table>
@section Scripts{
    <script>
        $(document).ready(function(){
            $('.select-update-order').change(function(){
                var status=$(this).val();
                var ordercode=$('.getId').val();
                $.ajax({
                    type:"POST",
                    url:"@Url.Action("UpdateOrder")",
                    data:{status:status,ordercode:ordercode},
                    success:function(result){
                        if(result.success){
                            Swal.fire("Cập nhật đơn hàng thành công");
                        }
                        else{
                            Swal.fire("Cập nhật đơn hàng thất bại");
                        }
                    }
                    
                });
            });
        });
    </script>
}
<style>
    .btn {
        display: inline-block;
        padding: 5px 10px;
        font-size: 15px;
        text-decoration: none;
        border-radius: 2px;
        border: none;
        cursor: pointer;
        text-align: center;
        font-weight: bold;
        line-height: 1;
        white-space: nowrap;
    }

    .edit {
        background-color: #f0ad4e;
        color: white;
    }

    .delete {
        background-color: #d9534f;
        color: white;
    }

    .edit:hover {
        background-color: #ec971f;
    }

    .delete:hover {
        background-color: #c9302c;
    }

</style>

